@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap');

html, body {
    overscroll-behavior-y: none;
    font-family: 'Gentium Book Plus', sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

/*
 * LAYOUT
 */
main {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

section {
    margin: 2% 0 2% 0;
}

#nav-item-list {
    position: fixed;
    top: 0;
}

.nav-item {
    display: inline-block;
    width: 50%;
}

/*
 * STYLING
 */

/* TITLES */
h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 8% 0;
    margin-top: 12%;
}

h2 {
    font-size: 1.8em;
    margin: 2% 0;
}
