/*
 * CSS rules for the landing page
 */

/* Setting base rules */ 
body {
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Basic', serif;
    background-color: #E8DCB8;
    color: #333;
}

a {
    text-decoration: unset;
    color: unset;
}

/* General typography */

h1 {
    font-size: 2.5em;
}

h2 {
    font-variant: small-caps;
}

p {
    font-style: italic;
}



/* Layout rules */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 1em 10vh;
}

section {
    position: relative;
    min-height: 80vh;
}

/* Specific styling */

/* Navbar */
.page_header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #eee;
}

.nav_item {
    display: block;
    width: 75%;
    margin: 2px;
    padding: 5px;
    border: 1px solid #d4bd79;
}

/* Active class */
.nav_item.active {
    background-color: #172347;
    color: #eee;
}

.shrinked {
    overflow: hidden;
    height: 15px;
}

/* Bottom Buttons */
.button_container {
    display: flex;
    flex-direction: row;
}

button {
    padding: 16px;
    margin: 0 5px;
    border: 1px solid #d4bd79;
    background-color: #eee;
    font-family: 'Gentium Book Basic', serif;
}

button:hover {
    background-color: #172347;
    color: #eee;
}

.hidden {
    display: none;
}

/* Media Queries */
@media (min-width: 800px) {
    h2, p {
        font-size: 1.5em;
    }
    
    section {
        width: 75%;
    }

    .nav_item {
        display: inline-block;
        list-style: none;
        margin: 0 5px 0 5px;
        padding: 15px;
        width: auto;
    }
}
