@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap');

html, body {
    overscroll-behavior-y: none;
    font-family: 'Gentium Book Plus', sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

/*
 * LAYOUT
 */
main {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

section {
    margin: 2% 0 2% 0;
}

#nav-item-list {
    position: fixed;
}

#nav-item-list > li{
    display: inline-block;
    width: 50%;
}
